<h1 class="text-center">Listagem de Categorias</h1>

<table class="table table-striped table-bordered table-hover">
  <tr>
    <th>Data</th>
    <th>Data Validade</th>
    <th>Valor</th>
    <td>Produto</td>
    <th colspan="2">Ações</th>
  </tr>
  <tr *ngFor="let preco of precos">
    <td>{{preco.data}}</td>
    <td>{{preco.dataValidade}}</td>
    <td>{{preco.valor}}</td>
    <td>{{preco.produto.nome}}</td>
    <td>
      <button type="button" class="btn btn-warning" (click)="editar(preco.id)">Editar</button>
      <button type="button" class="btn btn-danger" (click)="deletar(preco.id)">Deletar</button>
    </td>
  </tr>
</table>

<a routerLink="/admin/precos/novo">
  <button type="button" class="btn btn-success large-center">Adicionar</button>
</a>