<h1 class="text-center">Editar Categoria</h1>

<div class="container centered bordered">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="form-group" *ngIf="editando">
        <label for="id">Id</label>
        <input type="text" class="form-control" name="id" [(ngModel)]="categoria.id" [readOnly]="true">
      </div>

      <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" name="Nome"  placeholder="Eletrônico" [(ngModel)]="categoria.nome">
      </div>
      
      <button type="submit" class="btn btn-success large-center">Salvar</button>
    </form>
  </div>
