<div class="container">
  <h1 class="text-center">Loja da Humildade</h1>
  <div class="centered">
    <div class="col-md-6">
      <a routerLink="/loja/produtos">
        <button type="button" class="btn btn-default menu-button">Produtos</button>
      </a>
    </div>

    <div class="col-md-6">
      <a routerLink="/loja/categorias">
        <button type="button" class="btn btn-default menu-button">Categorias</button>
      </a>
    </div>

    <div class="col-md-6">
        <a routerLink="/loja/carrinho">
          <button type="button" class="btn btn-default menu-button">Carrinho</button>
        </a>
      </div>
  </div>
</div>