<div class="container">

  <h1 class="title">Gerencie seus Recursos</h1>

  <div class="centered">
    <a routerLink="/admin/produtos">
      <button type="button" class="btn btn-default menu-button">Produtos</button>
    </a>
    <a routerLink="/admin/categorias">
      <button type="button" class="btn btn-default menu-button">Categorias</button>
    </a>
    <a routerLink="/admin/precos">
      <button type="button" class="btn btn-default menu-button">Precos</button>
    </a>
    <a routerLink="/admin/usuarios">
      <button type="button" class="btn btn-default menu-button">Usuários</button>
    </a>
    <a routerLink="/admin/pedidos">
      <button type="button" class="btn btn-default menu-button">Pedidos</button>
    </a>
  </div>

</div>